body {
    background-image: linear-gradient(red, black);
    background-size: 100%;
}

.radarChart {
    margin-top: 100px;
    margin-right: 1%;
}

.genreFilter {
    margin-left: 28%;
    margin-top: 10%;
}